---
layout: default
pageTitle: AIGA Lou Awards 2019
cloudinaryUrl: https://res.cloudinary.com/aigalou

leaderName: Pip Pullen
leaderImage: image/upload/pip-pullen.jpg
leaderUrl: https://mightily.com

highSchool:
  - title: Free Art
    group: Lexington Christian Academy
    designers: Milo Y. Golding
    image: Free_Art-Milo_Golding.jpg

  - title: Mountaintop Removal
    group: Lexington Christian Academy
    designers: Milo Y. Golding
    image: Mountaintop_Removal-Milo_Golding.jpg

college:
  - title: "Aaron's Rent-to-Own Rebrand"
    group: University of Louisville
    designers: Logan Wells
    image: Aarons_Rebrand-Logan_Wells.jpg

  - title: Canna Brand Identity
    group:
    designers: Sean Riley
    image: Canna_Brand_Identity-Riley.jpg

  - title: Club One Fitness Rebranding
    group: University of Louisville
    designers: Class Project
    image: Club_One_Fitness_Rebranding-Frisch.jpg

  - title: 'Color & Euphoria: 365 Days of Scribbling Volumes 1 & 2'
    group: University of Louisville
    designers: Michael Chou
    image: Color_and_Euphoria_365_Days_of_Scribbling_Volumes_1_and_2-Chou.jpg

  - title: Crescendo Concert Hall Brand Identity
    group: University of Louisville
    designers: Susan Pallmann
    image: Crescendo_Concert_Hall_Brand_Identity-Pallmann.jpg

  - title: Design Heroes
    group: University of Louisville
    designers: Diamond Wade
    image: Design_Heroes-Wade.jpg

  - title: Hawthorne Elementary Brand Identity
    group: University of Louisville
    designers: Camille Armstrong | Rachel Benzing | Zach Nichols | Lynn Ogawa | Tiffany Freville | Taylor Simone
    image: Hawthorne_Elementary_Brand_Identity-Simone.jpg

  - title: Heaven Hill Brands Identity System
    group: University of Louisville
    designers: Cheyenne Nolan
    image: Heaven_Hill_Brands_Identity_System-Nolan.jpg

  - title: 'Liminal: Typeface design'
    group: University of Louisville
    designers: Lynn Ogawa
    image: Liminal_Typeface_Design-Ogawa.jpg

  - title: Major Tarot
    group: IU Bloomington
    designers: Skye Spalding • Designer & Illustrator
    image: Major_Tarot-Spalding.jpg

  - title: Makuron Cookie Kit - Packaging & Identity
    group: University of Louisville
    designers: Cheyenne Nolan
    image: Makuron_Cookie_Kit_Packaging_and_Identity-Nolan.jpg

  - title: Parlez-Vous Parfait
    group: University of Louisville
    designers: Camille Armstrong
    image: Parlez_Vous_Parfait-Armstrong.jpg

  - title: Typographic Resource of Adobe & Google Fonts Volumes 1 & 2
    group: University of Louisville
    designers: Michael Chou
    image: Typographic_Resource_of_Adobe_and_Google_Fonts_Volumes_1_and_2-Chou.jpg

professional:
  - title: Americana Center Poster Campaign
    category: Advertising
    group: Doe-Anderson
    designers: Tim Ofcacek • Art Director | David Vawter • Chief Creative Officer | Natalie Weis • Copywriter
    image: Americana_Center_Poster_Campaign-Doe.jpg

  - title: Louisville City Heine Brothers Youth Soccer Cup
    category: Advertising
    group: Nathan Weaver
    designers: Designer & Illustrator • Nathan Weaver
    image: Louisville_City_Heine_Brothers_Youth_Soccer_Cup-Weaver.jpg

  - title: Louisville Ballet Etoile
    category: Brochures & Catalogs
    group: Mightily
    designers: Kaytie White
    image: Louisville_Ballet_Etoile-Mightily.jpg

  - title: Making Time Exhibition Graphics
    category: Environmental Design & Wayfinding
    group: Speed Art Museum
    designers: Carrie Scrufari | Liz Morse | installation photographs by Sarah Lyon
    image: Making_Time_Exhibition_Graphics-Speed.jpg

  - title: Russell Neighborhood Gateway Mural
    category: Environmental Design & Wayfinding
    group: VIA Studio
    designers:
    image: Russell_Neighborhood_Gateway_Mural-Via.jpg

  - title: Arden Indoor Smoker Branding
    category: Identities, Logos & Branding
    group: VIA Studio
    designers:
    image: Arden_Indoor_Smoker_Branding-Via.jpg

  - title: Hectare's CBD Innovations Brand Identity
    category: Identities, Logos & Branding
    group: Fieldtrip
    designers: Andrew Spalding | Monica Bischoff
    image: Hectare_s_CBD_Innovations_Brand_Identity-Fieldtrip.jpg

  - title: Kentucky Performing Arts Rebrand
    category: Identities, Logos & Branding
    group: VIA Studio
    designers:
    image: Kentucky_Performing_Arts_Rebrand-Via.jpg

  - title: Lexington Theatre Company Identity
    category: Identities, Logos & Branding
    group: Bullhorn
    designers: Adam Kuhn • Creative Director | Cat Wentworth • Graphic Designer
    image: The_Lexington_Theatre_Company_Identity-Bullhorm.jpg

  - title: Marcus Paint Brand Identity
    category: Identities, Logos & Branding
    group: VIA Studio
    designers:
    image: Marcus_Paint_Brand_Identity-Via.jpg

  - title: The Great Speling Bee
    category: Identities, Logos & Branding
    group: VIA Studio
    designers: Art Director, Designer & Illustrator • Mitch Wiesen
    image: The_Great_Speling_Bee-Via.jpg

  - title: Union 15 Branding
    category: Identities, Logos & Branding
    group: Nathan Weaver
    designers: Nathan Weaver • Designer & Illustrator & Copywriter
    image: Union_15_Branding-Weaver.jpg

  - title: Western Middle School for the Arts Identity
    category: Identities, Logos & Branding
    group: Bullhorn
    designers: Adam Kuhn • Creative Director | Cat Wentworth • Graphic Designer
    image: Western_Middle_School_for_the_Arts_Identity-Bullhorn.jpg

  - title: Call Now! Promos for White Reaper
    category: Motion Graphics & Video
    group: Zone Catalog
    designers: Gregory Sheppard
    image: Call_Now_Promos_for_White_Reaper-Zone_Catalog.jpg
    video: https://res.cloudinary.com/aigalou/video/upload/awards-2019/professional/Video_Call_Now_Promos_for_White_Reaper-Zone_Catalog.mp4

  - title: National Stem Cell Foundation Animation
    category: Motion Graphics & Video
    group: Fieldtrip
    designers: Andrew Spalding | Fraser Ward | Kyle Jones | Meredith Wilkins | Jordan Mason
    image: National_Stem_Cell_Foundation_Animation-Fieldtrip.jpg
    video: https://res.cloudinary.com/aigalou/video/upload/w_1280,f_auto/awards-2019/professional/Video_National_Stem_Cell_Foundation_Animation-Fieldtrip.mp4

  - title: 3 Floyds Distilling Gins
    category: Packaging
    group: Zimmer-Design
    designers: Jim Zimmer • Creative Director | Jessica Zimmer • Design Director | Illustrator • Izabella Dawid Wolf | Richard Gary • Photographer | Adam Grimshaw • Retoucher
    image: 3_Floyds_Distilling_Gins-Zimmer.jpg

  - title: 3 Floyds Distilling Rum
    category: Packaging
    group: Zimmer-Design
    designers: Jim Zimmer • Creative Director | Jessica Zimmer • Design Director | Nathan Weaver • Associate Creative Director | Illustrator • Cezar Berje | Richard Gary • Photographer | Adam Grimshaw • Retoucher
    image: 3_Floyds_Distilling_Rum-Zimmer.jpg

  - title: 3 Floyds Distilling Whiskeys
    category: Packaging
    group: Zimmer-Design
    designers: Jim Zimmer • Creative Director | Jessica Zimmer • Design Director | Illustrator • Conor Nolan | Richard Gary • Photographer | Adam Grimshaw • Retoucher
    image: 3_Floyds_Distilling_Whiskeys-Zimmer.jpg

  - title: Alpha King 16oz Cans
    category: Packaging
    group: Zimmer-Design Inc.
    designers: Jim Zimmer • Creative Director & Designer | Phineas X Jones • Illustrator
    image: Alpha_King_16oz_Cans-Zimmer.jpg

  - title: Atlas Bar Rebrand & Packaging
    category: Packaging
    group: Pleasant
    designers: Chris Wright
    image: Atlas_Bar_Rebrand_and_Packaging-Pleasant.jpg

  - title: Dark Matter Coffee Cold
    category: Packaging
    group: Zimmer-Design
    designers: Jim Zimmer • Creative Director | Jessica Zimmer • Design Director | Nathan Weaver • Associate Creative Director | Carol de Lucca • Graphic Designer | Raul Urias • Illustrator | Richard Gary • Photographer | Adam Grimshaw • Retoucher
    image: Dark_Matter_Coffee_Cold-Zimmer.jpg

  - title: Flying Beasts Multi-Label 16oz cans
    category: Packaging
    group: Zimmer-Design Inc.
    designers: Nathan Weaver • Designer & Illustrator | Jim Zimmer • Creative Director
    image: Flying_Beasts_MultiLabel_16oz_cans-Zimmer.jpg

  - title: Gumballhead 12oz & 16oz cans
    category: Packaging
    group: Zimmer-Design Inc.
    designers: Jim Zimmer • Creative Director & Designer | Rob Syers • Illustrator
    image: Gumballhead_12oz_and_16oz_cans-Zimmer.jpg

  - title: Union 15 Pizza Box
    category: Packaging
    group: Nathan Weaver
    designers: Nathan Weaver • Designer, Illustrator & Copywriter
    image: Union_15_Pizza_Box-Weaver.jpg

  - title: Wise Bird Cider Co. Labels
    category: Packaging
    group: Oculus Studios
    designers: Amelia Wilson | Colin Harris | Brock Smith | Whit Bussey
    image: Wise_Bird_Cider_Co_Labels-Oculus.jpg

  - title: 3 Floyds Showboat Saloon Poster
    category: Posters & Flyers
    group: Zimmer-Design
    designers: Jim Zimmer • Creative Director | Nathan Weaver • Graphic Designer & Illustrator
    image: 3_Floyds_Showboat_Saloon_Poster-Zimmer.jpg

  - title: AIGA Louisville Design Week Circular
    category: Posters & Flyers
    group: Zimmer-Design
    designers: Nathan Weaver • Illustrator | Designer & Associate Creative Director | Jim Zimmer • Creative Director | Jessica Zimmer • Design Director
    image: AIGA_Louisville_Design_Week_Circular-Zimmer.jpg

  - title: Braley Design at The University of Kansas
    category: Posters & Flyers
    group: Braley Design
    designers: Michael Braley
    image: Braley_Design_at_The_University_of_Kansas-Braley.jpg

  - title: Draplin Poster
    category: Posters & Flyers
    group: Mightily
    designers: Chris Nolen | Brad Vetter
    image: Draplin_Poster-Mightily.jpg

  - title: 'Metallica: KFC YUM Center'
    category: Posters & Flyers
    group: Angryblue
    designers: Justin Kamerer
    image: Metallica-_KFC_YUM_Center-Angryblue.jpg

  - title: Wombo, Ted Tyro, B|_ank live at Kaiju
    category: Posters & Flyers
    group: Zone Catalog
    designers: Gregory Sheppard
    image: Wombo_Ted_Tyro_Blank_live_at_Kaiju-Zone.jpg

  - title: Fringe Festival Campaign
    category: Typography & Handlettering
    group: Mightily
    designers: Chelsea Zoeller | Brad Vetter
    image: Fringe_Festival_Campaign-Mightily.jpg

  - title: Hosparus Health Website
    category: Web, App & Multimedia Design
    group: Mightily
    designers: Jason Lee | Kaytie White | Rankin Mapother | Jennifer Hail | Tony Feltner | Rich Barber
    image: Hosparus_Health_Website-Mightily.jpg
    link: https://hosparushealth.org/
    linktext: hosparushealth.org

  - title: Mightily Website
    category: Web, App & Multimedia Design
    group: Mightily
    designers: Jason Lee | Lance Swan | Rankin Mapother | Rich Barber
    image: Mightily_Website-Mightily.jpg
    link: https://mightily.com/
    linktext: mightily.com

judges:
  - title: Western Middle School for the Arts Identity
    category: Identities, Logos & Branding
    group: Bullhorn
    designers: Adam Kuhn • Creative Director | Cat Wentworth • Graphic Designer
    image: Western_Middle_School_for_the_Arts_Identity-Bullhorn.jpg

  - title: AIGA Louisville Design Week Circular
    category: Posters & Flyers
    group: Zimmer-Design
    designers: Nathan Weaver • Illustrator | Designer & Associate Creative Director | Jim Zimmer • Creative Director | Jessica Zimmer • Design Director
    image: AIGA_Louisville_Design_Week_Circular-Zimmer.jpg

  - title: Call Now! Promos for White Reaper
    category: Motion Graphics & Video
    group: Zone Catalog
    designers: Gregory Sheppard
    image: Call_Now_Promos_for_White_Reaper-Zone_Catalog.jpg
    video: https://res.cloudinary.com/aigalou/video/upload/awards-2019/professional/Video_Call_Now_Promos_for_White_Reaper-Zone_Catalog.mp4
---

{# card component #}
{%- macro card(url, level, img, title, group, designers, category, video, link, linktext) %}
<li class="card p-2 bg-white shadow-sm hover:shadow-xl hover:scale-105 transition-shadow transition-transform transform duration-200">
  <img width="1280" src={{cloudinaryUrl}}/c_fit,h_640,q_auto,w_640/awards-2019/{{level}}/{{img}}
    class="object-scale-down h-48 md:h-56 w-full mx-auto winnerImage"
    alt="{{title}}"
    title="{{title}}"
    data-full="{{cloudinaryUrl}}/image/upload/c_fit,h_1440,q_auto:best,w_1440/awards-2019/{{level}}/{{img}}"
    data-video="{{video}}"
    data-group="{{group}}"
    data-designers="{{designers}}"
    data-category="{{category}}"
    data-link="{{link}}"
    data-linktext="{{linktext}}"
    tabindex="0"
  />
</li>
{%- endmacro %}

{# Judges Choice Selections #}
<section class="bg-gray-200">
  <div class="container px-4 pt-8 md:pt-16 pb-16">
    <h2 class="mb-4">🏅 Judge's Choice</h2>
    <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 gallery-4">
      {%- for award in judges %}
        {{ card(cloudinaryUrl, 'professional', award.image, award.title, award.group, award.designers, award.category, award.video) }}
      {%- endfor %}
    </ul>
  </div>
</section>

{# Community Lead section #}
<section class="bg-gray-300">
  <div class="container px-4 pt-8 md:pt-16 pb-16 max-w-screen-md">
    <h2 class="mb-4 leading-none md:leading-normal">🎖 Community Leader Award</h2>
    <div class="sm:grid grid-cols-3 gap-6">
      <img class="mb-4 w-full max-w-lg col-span-1" src="{{cloudinaryUrl}}/{{leaderImage}}" alt="Pip Pullen">
      <div class="col-span-2">
        <h3>{{leaderName}}</h3>
        <p>Pip studied urban affairs at St. Louis University after graduating with a BFA from Bellarmine.</p>
        <p>He has been described as an emergency strategist, creatively stunning, none better, and sort of funny.</p>
        <p>Pip has an uncanny way of getting people to work together. He breaks down barriers to get great ideas out of talented people.</p>
        <p>He is President of <a href="{{leaderUrl}}" target="_blank" rel="noopener noreferrer">Mightily</a> and also former leader of the LGDA - the organization that became AIGA Louisville.</p>
      </div>
    </div>
  </div>
</section>

{# Professional section #}
<section class="bg-gray-200">
  <div class="container px-4 pt-8 md:pt-16 pb-16">
    <h2 class="mb-4">🏆 Professional</h2>
    <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 gallery-1">
      {%- for award in professional %}
        {{ card(
          cloudinaryUrl,
          'professional',
          award.image,
          award.title,
          award.group,
          award.designers,
          award.category,
          award.video,
          award.link,
          award.linktext
        ) }}
      {%- endfor %}
    </ul>
  </div>
</section>

{# College section #}
<section class="bg-gray-300">
  <div class="container px-4 pt-8 md:pt-16 pb-16">
    <h2 class="mb-4">🏆 College</h2>
    <ul class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 gallery-2">
      {%- for award in college %}
        {{ card(
          cloudinaryUrl,
          'college',
          award.image,
          award.title,
          award.group,
          award.designers
        ) }}
      {%- endfor %}
    </ul>
  </div>
</section>

{# High School section #}
<section class="bg-gray-200">
  <div class="container px-4 pt-8 md:pt-16 pb-16">
    <h2 class="mb-4">🏆 High School</h2>
    <ul class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 gallery-3">
      {%- for award in highSchool %}
        {{ card(
          cloudinaryUrl,
          'high-school',
          award.image,
          award.title,
          award.group,
          award.designers
        ) }}
      {%- endfor %}
    </ul>
  </div>
</section>

{# Display Full Image Modal #}
<div class="modal fixed inset-0 z-50 bg-overlay hidden flex justify-center items-center sm:items-stretch" aria-hidden="true" tabindex="0">
  <div class="py-4 sm:m-4 md:max-w-screen-xl flex bg-white overflow-auto">
    <button aria-label="Previous Photo" class="prev m-2 w-12">
      <img src="{{"/images/chevron-left.svg" | url }}" width="36" alt="previous">
    </button>
    <figure>
      <img
        src="{{"images/placeholder.png" | url }}"
        class="modalImage"
      />
      <video class="modalVideo" width="1280" src="" controls tabindex="0"></video>
      <figcaption class="my-4">
        <span class="text-lg md:text-2xl leading-none modalTitle"></span>
        <div class="md:text-xl">
          <span class="font-bold uppercase modalGroup"></span>
          |
          <span class="modalCategory"></span>
        </div>
        <p class="text-sm modalDesigners mb-0"></p>
      </figcaption>
    </figure>
    <div class="relative m-2 w-12 flex flex-col justify-center">
      <button class="next" aria-label="Next Photo">
        <img src="{{"/images/chevron-right.svg" | url }}" width="36" alt="previous">
      </button>
      <button class="close absolute top-0 -mt-3" aria-label="close">
        <img src="{{"/images/times.svg" | url }}" width="36" alt="close">
      </button>
    </div>
  </div>
</div>